li.nav-item {
    width : 20%;
}

li.nav-item a {
    text-align:center;
}

li.nav-item a img {
    width: 100%;
    height: 80px;
}

li.nav-item a span {
    padding: 1rem 0;
    font-size:13px;
}

li.nav-item a.active {
    border-bottom: 2px solid red;
    
}